---
permalink: audit.html
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/audit.js" defer></script>
		<title>Audit - Garciaudit</title>
	</head>
	<body>
		<header>Header Content</header>
			<main>
                <!-- renamed if in GET data -->
				<h1>Unnamed Minimal Audit</h1>

                <!-- maybe should set up a sample audit in IndexedDB if one doesn't exist yet -->
				<h2>Pages</h2>
                <h3>Checks</h3>
                    <table> <!-- look into making editable/toggling to editable view -->
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </table>
			</main>
		<footer>Footer Content</footer>
	</body>
</html>