---
permalink: audit.html
---
<!-- 
	Data needed:
	(New Audit)
	- URL parameter data for Name/Audit Type (checklist ID)

	(Continue Audit)
	- rules/checklists/steps/guides/pages/pagestates/flows/issues/scope filtered by audit

	(Both States)
	- list rules/checklists/guides
	- add pages/pagestates/flows
-->

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/dexie.min.js"></script>
		<script src="/db_setup.js" async></script>
		<script src="/audit.js" defer></script>
		<title>Audit - OAT Audit</title>
	</head>
	<body>
		{% include "header.njk" %}
			<main>
				<h1>Audit_Name Checklist_Name</h1>
				<!-- <button>Change Audit</button>

				<section aria-labelledby="actions">
				<h2 id="actions">Actions</h2>
                	<button>Add Page</button>
					<button>Add Page State</button>
					<button>Export</button>
					<button>Upload Issues</button>
				</section>
				-->
				<section aria-labelledby="pages">
				<h2 id="pages">Pages</h2>

				</section>
				<section aria-labelledby="issues">
                <h2 id="issues">Issues</h2>
                    <table> <!-- look into making editable/toggling to editable view -->
                        <thead>
							<tr>
								<th id="issue_description_th">Issue Details</th> <!-- todo: need to change "issue_description to issue_details" -->
								<th>Issue Status</th>
								<th>Check/Rule Description</th>
							</tr>
						</thead>
						<tbody id="issues_table_body">
						</tbody>
                    </table>
				</section>
			</main>
		{% include "footer.njk" %}
	</body>
</html>