---
permalink: index.html
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="dexie.min.js"></script>
		<script src="/db_setup.js" async></script>
		<script src="/index.js" defer></script>		
		<title>OAT Audit</title>
	</head>
	<body>
		{% include 'header.njk' %}
			<main>
				<h1>OAT Audit</h1>
				Currently just a proof-of-concept for a side project; please try it out!
				<h2>Continue an audit</h2>
					<ul id="continue_audit_list"></ul><!-- list will be populated if saved audits are detected -->

				<h2>Create an audit</h2>
				<a href="audit.html">Quick Start!</a>

				<form action="audit.html" method="get">
				<label for="audit_name">Audit name</label>
				<input id="audit_name" type="text" name="audit_name">

				<label for="checklist">Choose a checklist</label>
				<select id="checklist" name="checklist">

				</select>

				<input type="submit" value="Create Audit">
				</form>

				<h2>Thanks</h2>
				<p>The folks below helped with this site either directly and indirectly. Thank you so much; you are all such wonderful people.</p>
				<ul>
					<li>Diane Ko
					<li>W3C ACT Working Group and Community Group
				</ul>
			</main>
		{% include 'footer.njk' %}
	</body>
</html>