---
permalink: index.html
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="/dexie.min.js"></script>
		<script src="/db_setup.js" async></script>
		<script src="/index.js" defer></script>
		<title>OAT Audit</title>
	</head>
	<body>
		{% include 'header.njk' %}
		<main>
			<h1>OAT Audit</h1>
				<h2>Continue an audit</h2>
					<ul id="continue_audit_list"></ul><!-- Audit link list populated from IndexedDB data -->

				<h2>Create an audit</h2>
					<form action="audit.html" method="get">
						<label for="checklist">Choose a checklist</label>
						<select id="checklist" name="checklist"><!-- Checklist options populated from IndexedDB data -->
						</select>

						<input type="submit" value="Start Auditing!">
					</form>
		</main>
		{% include 'footer.njk' %}
	</body>
</html>