---
permalink: rules.html
---
<!--
	- All of the Rules table
-->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/rules.js" defer></script>
		<title>Rules - OAT Audit</title>
	</head>
	<body>
		{% include "header.njk" %}
			<main>
                <!-- renamed if in GET data -->
				<h1>All Rules</h1>
		        <table> <!-- look into making editable/toggling to editable view -->
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                </table>
			</main>
		{% include "footer.njk" %}
	</body>
</html>